@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Area Chart -->
                       <script type="text/javascript">
                           document.addEventListener('DOMContentLoaded', function() {

                                var samples = 100;
                                var speed = 250;
                                var values = [];
                                var labels = [];
                                var charts = [];
                                var value = 0;

                                values.length = samples;
                                labels.length = samples;
                                values.fill(0);
                                labels.fill(0);
                               var temperatureGraph = document.getElementById('temperatureGraph').getContext('2d');
            
                    new Chart(temperatureGraph,
                        {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    label: "Temperature",
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    fill:false
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Temperature over the last 100 data points"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            max: 40,
                            max: 40,
                            min:20,
                        }
                    }]
                }
            }
          }
           );

           var connection = new signalR.HubConnection("messagehub");

            connection.on('Broadcast',
                function(sender, message) {
                    values.push(message.temperature);
                    values.shift();

                    chart.update();
                });

            connection.start();
        
});
                       </script> 
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-success">Temperature and Humidity Stats</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="temperatureGraph"></canvas>
                                    </div>
                                
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-success">Sensor Details</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Temperature Only</a>
                                            <a class="dropdown-item" href="#">Humidity Only</a>
                                            <a class="dropdown-item" href="#">Both</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
              
